## MATEMATYKA 2024-2025

### *Python* - dynamicznie typowany, interpretowany

In [ ]:
a = 2434
print(a, type(a))
b = a
a  = "dasfd"
print(a, type(a))

2434 <class 'int'>
dasfd <class 'str'>

Nazwa zmiennej powinna zaczynać się z małej litery.<br/>
Można używać tylko liter (ASCII lub Unicode), cyfr (0-9) i znaku podkreślenia ”_”. <br/>
Python Software Foundation zdecydowała się na zastosowanie konwencji nazewniczej znanej jako `snake_case`
Inne konwencje: `camelCase`: mojaPierwszaZmienna, `PascalCase`: MojaPierwszaZmienna, Hungarian Notation:
`sMojaPierwszaZmienna`, s_MojaPierwszLiczba, s_mojaPierwszaLiczba

Nie można <br/>
stosować znaku łącznika zamiast podkreślenia ”-” <br/>
używać znaków specjalnych np.:" #, &, @, ‘ ’, ‘’ ‘’ " <br/>
używać spacji np.: moja Pierwsza Zmienna<br/>
zaczynać nazwy zmiennej od cyfry np.: 1zmienna

In [ ]:
a1 = 0

Jest czy nie ma?

In [ ]:
print(a1)

0

### Formatowanie napisów

In [ ]:
a = 9
i = 223.35453635#(int ,flaot, str)
c = 1
print(i, a)
napis = "ALa ma kota"
print(f"wartośc i = {i:*^+20.2f} a = {a:*>10d}")
print("Wartość " + str(i))
print("Wartośc {0:*>20.4f} int {1}".format(i,a))
print(f"Wartość {napis:*^20s} {c:*>10f}")
# f- stringi
#typ zmiennej

223.35453635 9
wartośc i = ******+223.35******* a = *********9
Wartość 223.35453635
Wartośc ************223.3545 int 9
Wartość ****ALa ma kota***** **1.000000

##### Przykład

In [ ]:
nazwa_sklepu = "Sklep u Grażynki"
c_kule_serowe = 34.2
c_paczki_z_wis_w_czek = 4.2
n_paczki_z_wis_w_czek = "paczki_z_wis_w_czek"
i_kule_serowe = 0.67
i_paczki_z_wis_w_czek = 4
n_kle_serowe = "Kule serowe"
n_towaru = "Nawza towaru"
c_towaru = "Cena jed"
i_towaru = "ilość"
wartosc = "Wartość"
print(f"{nazwa_sklepu:*^52s}\n")
print(f"{n_towaru:<25s} {i_towaru:>8s} {c_towaru:>8s} {wartosc:>8s}")
print(f"{n_paczki_z_wis_w_czek:<25s} {i_paczki_z_wis_w_czek:8d} {c_paczki_z_wis_w_czek:8.2f} {i_paczki_z_wis_w_czek*c_paczki_z_wis_w_czek:+8.2f}")
print(f"{n_paczki_z_wis_w_czek:<25s} {i_paczki_z_wis_w_czek:8d} {c_paczki_z_wis_w_czek:8.2f} {i_paczki_z_wis_w_czek*c_paczki_z_wis_w_czek:+8.2f}")
print()

******************Sklep u Grażynki******************

Nawza towaru                 ilość Cena jed  Wartość
paczki_z_wis_w_czek              4     4.20   +16.80
paczki_z_wis_w_czek              4     4.20   +16.80

##### Zadanie
W sklepie WISIENKA NA TORCIE pączki z wiśniami i polewą czekoladową kosztują 7,2 PLN za sztukę, a kule serowe 44.8 za kg. Kupiono 4 pączki i 67 dag kul serowych. Przygotuj wydruk z paragonu.

#### Działania na napisach
Napis (string) jest inicjowany za pomocą pojedyńczego lub podwójnego cudzysłowu.

In [ ]:
napis = "Nie martw sie o 'pojedyncze' cudzyslowy."
print(napis)
napis = 'A teraz nie martw się o "podwóje" cudzysłowy.'
print(napis)
napis = "Trochę więcej pisania \"ale też można\"."
print(napis)

Nie martw sie o 'pojedyncze' cudzyslowy.
A teraz nie martw się o "podwóje" cudzysłowy.
Trochę więcej pisania "ale też można".

Trochę informacji o napisach

In [ ]:
napis = "Ala ma kota"
print(napis, "i jeszcze psa", "kanarki", sep = "****")
print('a' in napis)
print (len("napis"))
print(f"Indeks litery p w napise: napisppp {'napispppp'.index('p')}")
print("napisnnn".count("n"))
print ("napis".upper())
print("napis".lower())
print("to jest napis".startswith("n"))
print ("to jest napis".endswith("napis"))

Ala ma kota****i jeszcze psa****kanarki
True
11
Ala ma kota
['Al', ' m', ' kot', '']
Al---- m---- kot----
5
Indeks litery p w napise: napisppp 2
4
NAPIS
napis
False
True

In [ ]:
text = 'bat ball'

# replace 'ba' with 'ro'
replaced_text = text.replace('ba', 'ro')

print(replaced_text)

rot roll

#### Zadanie  Napisy

In [ ]:
slowo = "ANATOL"
print(slowo[3])
print(slowo[1:4])

T
NAT

Utwórz zmienną zawierającą Twoje imię (imię wczytane z klawiatury)
imie = ”Jolanta”. A nstępnie wypisz:
- JOLANTA
- J\*O\*L\*A\*N\*T\*A
- OLA
- JOLANATA NAZWISKO (nazwisko dodaj dowolne) -> wypisz tylko inicjały (J.N - takie są generowane np. na torebkach Louis Vuitton - na końcu nie ma kropki)
- JOLANTA**NAZWISKO
- ATNALOJ
- sprawdź czy w napisie znajduje się litera wczytana z klawiatury
- podaj długość napisu
- podaj literę, która znajduje się na drugiej (od lewej) pozycji, na
drugiej od końca

In [ ]:
imie = "JOLANta"
#imie = input("Podaj imie ")
nazwisko = "NAZWISKO"

O t

In [ ]:
imie = "PAULINA"
nazwa = ""
for znak in imie:
    nazwa += znak + "*"
print(nazwa[:-1])

P*A*U*L*I*N*A

In [ ]:
imie = "PAULINA"
nazwa = ""
for i in range(len(imie)):
    if i <len(imie)-1:
      nazwa += imie[i] + "*"
    else:
      nazwa += imie[i]
print(nazwa)

P*A*U*L*I*N*A

### Operatory i instrukcje

#### `Operatory i instrukcje`
+, -, * , / , // , \%, \*\*
kolejność działań (),\*\*, (*/)(+-)

Stringi, "float", "int" są niemutowalne = niezmienne.

In [ ]:
2**3*2

16

In [ ]:
2**(3*2)

64

    if warunek:
        instrukcje
    else:
        instrukcje

    while warunek:
        instrukcje
    else:
        instrukcje

    for i in sekwencja:
        instrukcje
    else:
        instrukcja

    break, continue

In [ ]:
i = 0
while i < 5:
    print(i)
    i = i+1
    if i > 2:
        break#continue
    print(i)
    print("ala")
else:
    print("Licznik równy 5 skończyłem")

0
1
ala
1
2
ala
2

#### Zadanie 1  Suma A
Oblicz sumę `s`. Użyj takich samych zmiennych jakie widzisz we wzorze poniżej. Użyj pętli `while`. W przypadku, gdy wzór podniesie jakiś wyjątek (błąd) użyj instrukcji warunkowej `if`, by pominąć daną liczbę w pętli. Wypisz wszystkie wyniki częściowe z dokładnością do 2 miejsc po przecinku. Ostateczny wynik zapisz w postaci wykładniczej.
$$s = \sum_{i=-10}^{10} \frac{i - 1}{i - 2}$$

In [ ]:
zmienna = 9/11
print(f"{zmienna:5.2e} {zmienna:5.2f}")

8.18e-01  0.82

#### Zadanie 1  Suma B
Oblicz sumę `s`. Użyj takich samych zmiennych jakie widzisz we wzorze poniżej. Użyj pętli `for`. W przypadku, gdy wzór podniesie jakiś wyjątek (błąd) użyj instrukcji warunkowej `if`, by pominąć daną liczbę w pętli.
$$s = \sum_{i=-10}^{10} \log {i-3}$$

#### ``a,b = b,a+b?``

In [ ]:
a = 1
b = 2
a, b = b, a + b
print(a,b)

In [ ]:
a = 1
b = 2
a = b
b = a + b
print(a,b)

### SEkwencje

`Sekwencja` - typ danych obsługujcy operator przynależności in, funkcję określającą długość (len()) i segmentowanie ([]) oraz umożliwiający przeprowadzenie iteracji. Podczas iteracji dostarczają elementy w kolejności. Przykłady: listy ,ciągi tekstowe i krotki.

#### `Listy`
- uporządkowana sekwencja odniesień do obiektów z  możliwością modyfikacji

In [1]:
#Tworzenie
l = []
print(l)
l1 = [
    1,
    2,
    "Wenus",
    "Mars"
    ]
print(l1)
k = (3, 4, "dsdfd") ### - a to krotka
print(k)

l2 = list(k)
k2 = tuple([3,4,5])
print (l, l1, k, l2, k2)
print(l2)
l2[1] = 4545444
print (l2)

[]
[1, 2, 'Wenus', 'Mars']
(3, 4, 'dsdfd')
[] [1, 2, 'Wenus', 'Mars'] (3, 4, 'dsdfd') [3, 4, 'dsdfd'] (3, 4, 5)
[3, 4, 'dsdfd']
[3, 4545444, 'dsdfd']

In [ ]:
krotka = (2, )
krotka += (3,)
print(krotka)

(2, 3)

#### Dzialania na listach
- segmentowanie `lista[2:3]` `lista[-1]`
- długość `len(lista)`
- dodawanie elementów `lista.append(element), lista += [element]`

#### Zadanie
- Utwórz listę osób w Twojej grupie
- Dodaj imię wykładowcy
- wyświetl długośc listy
- popraw imiona wprowadzone małą literą
- sprawdź czy podane imię znajduje się na liście - wyświetl tak /nie

### Zadania domowe

#### Zadanie 1
Dane osobowe

Wczytaj imię, nazwisko i numer telefonu.
Wpisując dane popełnamy (czasami) błędy.
Popraw dane - tzn - imię i nazwisko mają zostać wypisane z wielkiej litery.
Sprawdź czy nie zawierają liczb. Sprawdź czy nr telefonu składa się z cyfr.

Wykorzystaj funkcje
- `isalpha, isnumeric, capitalize, `

#### Zadanie  (-1, 0, 1)

Napisz program, który oblicza sumę liczb w podanej liście `L` i zwracający informację (`print`)

* `1` gdy suma liczb dodatnich listy `L` jest większa od wartości bezwzględnej sumy liczb ujemnych listy `L`
* `-1` gdy wartość bezwzględna sumy liczb ujemnych listy `L` jest większa od sumy liczb dodatnich listy `L`
* `0` gdy wartość bezwzględna sumy liczb ujemnych listy `L` jest równa sumie liczb dodatnich listy `L`

Użyj pętli
`while` (`for`)


**Przykłady**

    > L = [1, 2, 3, -4, -5] -->> -1
    
    > L = [1, 2, 3, -1, -2, -3] -->> 0
    
    > L = [1, 2, 3, -1, -2] -->> 1
    
**Uwaga**

> **przefiltruj** elementy list podanych jako argumenty, tak by rozpatrywać **tylko liczby** w nich zawarte, np:

    L = [1, 2, (19, 18), 'ala', 3, -4, -5] -->> [1, 2, 3, -4, -5] -->> -1